@model IEnumerable<WebFerreteria.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header py-3 bg-second-primary">
    <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
</div>

<br />

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus-circle"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Cógigo Barra</th>
            <th> Marca</th>
            <th> Descripción</th>
            <th> Stock</th>
            <th> Precio</th>
            <th> Categoría</th>
            <th> Usuario Registro</th>
            <th> Fecha Registro</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            
            <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
